<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v6.0.0/css/all.css"
      integrity="your-integrity-code"
      crossorigin="anonymous"
    /> -->

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/index.css" />

    <title>sportFLEX</title>
  </head>
  <body>
    <div class="container">
      <nav>
        <ul class="navbarUl">
          <li>Home</li>
          <li>Play</li>
          <li>Leaderboard</li>
          <li>Download</li>
          <li><a href="/login">Login</a></li>
          <li>Contact</li>
        </ul>
      </nav>
    </div>
    <!-- <div id="dynamic-text-container"></div> -->

    <!-- <img src="Picture3.png" class="top-left-image" />
    <img src="Picture4.png" class="bottom-right-image" />
    <img src="FinalLogo.png" alt="logo" class="center-image" />
    <img src="Picture5.png" class="right-image" />
    <img src="Picture6.png" class="bg-image" />
    <img src="sport.png" class="left-image" />

    <p class="center-text">
      <span class="white-text">FROM</span>
      <span class="red-text">COUCH</span> TO THE
      <span class="red-text">COURTSIDE</span>
    </p> -->
    <video autoplay muted>
      <!-- width="1500" height="700" -->
      <source src="../images\sportflex (1).mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>

    <div class="slanted-container">
      <div class="scTitle">
        <span class="red-text">Play</span>,
        <span class="white-text"> your way to </span>
        <span class="red-text">VICTORY</span>
      </div>

      <div class="container">
        <div class="box1">
          <div class="boxContainer">
            <h1>DISCOVER</h1>
            <p>a sport</p>

            <div class="searchBox">
              <input
                class="searchInput"
                type="text"
                name=""
                placeholder="Search for cities, places,etc..."
              />
              <button class="searchButton" href="#">
                <img
                  src="../images/magnifying-glass-solid.svg"
                  alt="Search"
                  style="width: 20px; height: 30px"
                />
              </button>
            </div>
            <h3>Explore popular sports</h3>
            <div class="DiscoverBtns">
              <button id="hydBtn" class="btn-8"><span>Cricket</span></button>
              <button id="chennaiBtn" class="btn-8">
                <span>Basketball</span>
              </button>
              <button id="delBtn" class="btn-8"><span>Football</span></button>
              <button id="bgBtn" class="btn-8"><span>Kabaddi</span></button>
              <button id="mumbaiBtn" class="btn-8"><span>Hockey</span></button>
            </div>
          </div>
        </div>
        <div class="box2">
          <div class="boxContainer">
            <h1>TEAM UP</h1>
            <p>with friends</p>
            <h2 class="ID">Enter an ID</h2>
            <div class="wrapper">
              <label class="TeamWrapperLabel">
                <input />
              </label>
            </div>
            <div class="box2Btns">
              <button id="cancel" class="btn-8"><span>Cancel</span></button>
              <button id="add" class="btn-8"><span>Add Friend</span></button>
            </div>
          </div>
        </div>
        <div class="box3">
          <div class="boxContainer">
            <h1>BOOK</h1>
            <p>your match</p>
            <div class="searchBox">
              <input
                class="searchInput"
                type="text"
                name=""
                placeholder="Search for cities, places,etc..."
              />
              <button class="searchButton" href="#">
                <img
                  src="../images/magnifying-glass-solid.svg"
                  alt="Search"
                  style="width: 20px; height: 30px"
                />
              </button>
            </div>
            <h3>Explore popular Venues</h3>

            <div class="BookBtns">
              <button id="hydBtn" class="btn-8"><span>Hyderabad</span></button>
              <button id="chennaiBtn" class="btn-8">
                <span>Chennai</span>
              </button>
              <button id="delBtn" class="btn-8"><span>Mumbai</span></button>
              <button id="bgBtn" class="btn-8"><span>Delhi</span></button>
              <button id="mumbaiBtn" class="btn-8">
                <span>Banglore</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="page3">
        <div class="blackbg">
          <div class="MTLL">
            <div class="MTLLH1">
              <h1>MEET THE <span>LEADERBOARD</span></h1>
              <h1>LEGENDS</h1>
              <h3>
                Celebrate<span> victories </span>and<span> track </span
                ><br />your <span>progress</span> in the<span> game!</span>
              </h3>
            </div>
          </div>
          <div class="blackbgImg">
            <img src="../images/leaderboad-phone.png" alt="leaderboad image" />
          </div>
        </div>
      </div>
    </div>
    <div class="containerUpperLower">
      <div class="upper-half">
        <div class="upper-halfH1">
          <h1>
            <span>GET</span> IN THE <span><br />GAME!</span>
          </h1>
          <h4>DOWNLOAD NOW!</h4>
        </div>
      </div>
      <div class="lower-half">
        <div class="lower-halfTitles">
          <h2>
            for instant access to <br />sports , fun and<br />
            excitement
          </h2>
          <div class="CULImages">
            <img class="googleimg" src="../images/gp.png" />
            <img class="appstore" src="../images/as.png" />
          </div>
        </div>
      </div>
      <div class="lower-halfImg">
        <img class="phimg" src="../images/fullpic.png" />
      </div>
    </div>

    <div class="contact">
      <h1>GET IN TOUCH</h1>
      <h3>You can reach us anytime via info@sportFlex.com</h3>
    </div>
    <div class="custom-input">
      <div class="ciFormMain">
        <div class="ciForm">
          <div class="ciFormClm">
            <div class="ciFInputs">
              <label for="customInput">First Name:</label>
              <input type="text" id="customInput" name="customInput" required />
            </div>
            <div class="ciFInputs">
              <label for="ln">Last Name:</label>
              <input type="text" id="ln" name="customInput" required />
            </div>
          </div>
          <div class="ciFormClm">
            <div class="ciFInputs">
              <label for="em">Email:</label>
              <input type="text" id="em" name="customInput" required />
            </div>
            <div class="ciFInputs">
              <label for="em">Phone number:</label>
              <input type="tel" id="em" name="customInput" required />
            </div>
          </div>
          <div class="ciFInputs">
            <label for="msg">Message:</label>
            <textarea id="msg" name="customInput" required></textarea>
          </div>
        </div>
      </div>
      <div class="GITImg">
        <img src="../images/R.png" />
      </div>
    </div>
  </body>
</html>
