<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Venues</title>
    <link rel="stylesheet" href="/venue.css" />
  </head>
  <body>
    <h1>SEARCH SPORT COMPLEXES IN YOUR CITY</h1>

    <!-- Container for cards -->
    <div class="container card-container" id="sportData">
      <!-- Cards will be dynamically added here -->
    </div>

    <script src="/script.js"></script>
  </body>
</html>
